body {
    font-family: "Noto Sans JP", sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    height: 100vh;
  }

  main {
    margin-top: 100px
  }
  
  .account-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

  .account-container h1 {
    margin-bottom: 20px;
  }

  .account-container .account-info, .account-container .account-actions {
    margin-top: 20px;
    text-align: center;
  }

  .account-container .account-info p, .account-container .account-actions ul {
    margin: 10px 0;
  }

  .account-container .account-actions ul {
    list-style-type: none;
    padding: 0;
  }

  .account-container .account-actions li {
    margin: 5px 0;
  }
  
  .account-container form {
    margin-top: 20px;
    text-align: center;
  }

  .account-container form button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .account-container form button:hover {
    background-color: #0056b3;
  }