
body .Youri {
  padding-top: 6%;
  padding-bottom: 3%;
}
.saveData {
  position: absolute;
  background-color: white;
  padding: 3%;
  top: 100vh;
  left: 40%;
  border-radius: 5px;
}

section.uitleg div{
  background-color: white;
}
body .Youri .game .game-window{
  padding: 1rem;
  text-align: center;
  border-top: 0.2rem solid black;
}
body .Youri .game .game-window .stock-market {
  display: flex;
  flex-direction: row;
  height: 78vh;
  background-color: white;
}
body .Youri .game .game-window .stock-market .stock {
  box-sizing: border-box;
  display: flex;
  padding: 0;
  text-align: center;
  border: 0.1rem solid black;
  justify-content: center;
  justify-content: space-between;
  height: 100%;
}

section.uitleg{
  padding: 0 4rem 0 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
section div{
  text-align: center;
  border: 2px solid black;
  border-top: white;

  box-sizing: border-box;
}
section div *{
  background-color: white;
}
section div h5{
  color: red;
}
.squares{
  list-style: square !important;
}
span.waarschuwing{
  color: red;
}


.coin{
  height: 1.5rem;
}

.unity img{
  aspect-ratio: 1 / 1;
}
body .Youri .game .game-window .stock-market .highscore {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
body .Youri .game .game-window .stock-market .highscore .score-table {
  margin-top: 2rem;
  border-collapse: collapse;
  width: 100%;
}
body .Youri .game .game-window .stock-market .highscore .score-table td {
  position: relative;
}
body .Youri .game .game-window .stock-market .highscore .score-table tr:not(:last-child) {
  border-bottom: 1px solid black;
}
body .Youri .game .game-window .stock-market .highscore .score-table td:first-child {
  border-right: 1px solid black;
}
body .Youri .game .game-window .stock-market .highscore .buttons {
  height: 25%;
}
body .Youri .game .game-window .stock-market .highscore .buttons .button {
  height: 25%;
  width: 100%;
}

.blur {
  filter: blur(4px); /* Wazig effect */
  pointer-events: none; /* Voorkom dat er interactie is met de wazige elementen */
}

.hidden {
  display: none;
}

.increase
{
  background-color: rgb(0, 192, 0);
}
button.kopen{
  background-color: rgb(96, 207, 255);
}
button.verkopen{
  background-color: rgb(255, 174, 0);
}

.decrease
{
  background-color: red;
}
