.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
@media screen and (min-width: 576px) {
  .container {
    width: 476px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 668px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 892px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1100px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    width: 1300px;
  }
}

.row,
.col,
[class^=col-],
[class*=" col-"],
.inner {
  display: flex;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.col,
[class^=col-],
[class*=" col-"] {
  flex-direction: column;
  max-width: 100%;
  padding: 0.5rem;
}
.col .inner,
[class^=col-] .inner,
[class*=" col-"] .inner {
  flex-direction: column;
  height: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.col {
  flex-grow: 1;
}
@media screen and (max-width: 576px) {
  .col {
    width: 100%;
  }
}

[class^=col-],
[class*=" col-"] {
  flex: 0 0 auto;
}

.col-1 {
  width: 8.3333333333%;
}

.col-2 {
  width: 16.6666666667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.3333333333%;
}

.col-5 {
  width: 41.6666666667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.3333333333%;
}

.col-8 {
  width: 66.6666666667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.3333333333%;
}

.col-11 {
  width: 91.6666666667%;
}

.col-12 {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .col-s-1 {
    width: 8.3333333333%;
  }
  .col-s-2 {
    width: 16.6666666667%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.3333333333%;
  }
  .col-s-5 {
    width: 41.6666666667%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.3333333333%;
  }
  .col-s-8 {
    width: 66.6666666667%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.3333333333%;
  }
  .col-s-11 {
    width: 91.6666666667%;
  }
  .col-s-12 {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .col-m-1 {
    width: 8.3333333333%;
  }
  .col-m-2 {
    width: 16.6666666667%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.3333333333%;
  }
  .col-m-5 {
    width: 41.6666666667%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.3333333333%;
  }
  .col-m-8 {
    width: 66.6666666667%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.3333333333%;
  }
  .col-m-11 {
    width: 91.6666666667%;
  }
  .col-m-12 {
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .col-l-1 {
    width: 8.3333333333%;
  }
  .col-l-2 {
    width: 16.6666666667%;
  }
  .col-l-3 {
    width: 25%;
  }
  .col-l-4 {
    width: 33.3333333333%;
  }
  .col-l-5 {
    width: 41.6666666667%;
  }
  .col-l-6 {
    width: 50%;
  }
  .col-l-7 {
    width: 58.3333333333%;
  }
  .col-l-8 {
    width: 66.6666666667%;
  }
  .col-l-9 {
    width: 75%;
  }
  .col-l-10 {
    width: 83.3333333333%;
  }
  .col-l-11 {
    width: 91.6666666667%;
  }
  .col-l-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 8.3333333333%;
  }
  .col-xl-2 {
    width: 16.6666666667%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-4 {
    width: 33.3333333333%;
  }
  .col-xl-5 {
    width: 41.6666666667%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-7 {
    width: 58.3333333333%;
  }
  .col-xl-8 {
    width: 66.6666666667%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-10 {
    width: 83.3333333333%;
  }
  .col-xl-11 {
    width: 91.6666666667%;
  }
  .col-xl-12 {
    width: 100%;
  }
}
@media screen and (min-width: 1400px) {
  .col-xxl-1 {
    width: 8.3333333333%;
  }
  .col-xxl-2 {
    width: 16.6666666667%;
  }
  .col-xxl-3 {
    width: 25%;
  }
  .col-xxl-4 {
    width: 33.3333333333%;
  }
  .col-xxl-5 {
    width: 41.6666666667%;
  }
  .col-xxl-6 {
    width: 50%;
  }
  .col-xxl-7 {
    width: 58.3333333333%;
  }
  .col-xxl-8 {
    width: 66.6666666667%;
  }
  .col-xxl-9 {
    width: 75%;
  }
  .col-xxl-10 {
    width: 83.3333333333%;
  }
  .col-xxl-11 {
    width: 91.6666666667%;
  }
  .col-xxl-12 {
    width: 100%;
  }
}
.fw-wrap {
  flex-wrap: wrap !important;
}

.fw-nowrap {
  flex-wrap: nowrap !important;
}

.fd-row {
  flex-direction: row !important;
}

.fd-row-r {
  flex-direction: row-reverse !important;
}

.fd-column {
  flex-direction: column !important;
}

.fd-column-r {
  flex-direction: column-reverse !important;
}

.jc-initial {
  justify-content: initial !important;
}

.jc-inherit {
  justify-content: inherit !important;
}

.jc-flex-start {
  justify-content: flex-start !important;
}

.jc-flex-end {
  justify-content: flex-end !important;
}

.jc-center {
  justify-content: center !important;
}

.jc-space-between {
  justify-content: space-between !important;
}

.jc-space-around {
  justify-content: space-around !important;
}

.jc-space-evenly {
  justify-content: space-evenly !important;
}

.ac-initial {
  align-content: initial !important;
}

.ac-inherit {
  align-content: inherit !important;
}

.ac-flex-start {
  align-content: flex-start !important;
}

.ac-flex-end {
  align-content: flex-end !important;
}

.ac-center {
  align-content: center !important;
}

.ac-space-between {
  align-content: space-between !important;
}

.ac-space-around {
  align-content: space-around !important;
}

.ac-space-evenly {
  align-content: space-evenly !important;
}

.ac-stretch {
  align-content: stretch !important;
}

.ai-baseline {
  align-items: baseline !important;
}

.ai-initial {
  align-items: initial !important;
}

.ai-inherit {
  align-items: inherit !important;
}

.ai-flex-start {
  align-items: flex-start !important;
}

.ai-flex-end {
  align-items: flex-end !important;
}

.ai-center {
  align-items: center !important;
}

.ai-stretch {
  align-items: stretch !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

*{
  max-width: 100vw;
}
body{
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
header{
  width: 100vw;
  overflow: hidden;
}
body{
  max-width: 100vw !important;
  overflow-x: hidden !important;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=global.css.map */
