main {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
  
.register-container {
    background-color: #fff;
    padding: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 300px;
    text-align: center;
}

.register-container h2 {
    margin-bottom: 35px;
}

.register-container input[type=text],
.register-container input[type=email],
.register-container input[type=password] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register-container input[type=submit] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: rgb(96, 207, 255);
    color: #fff;
    font-size: 1.5rem;
}

.register-container input[type=submit]:hover {
    background-color: rgb(96, 207, 255);
}