body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body div img {
  position: absolute;
  top: 100px;
  height: auto;
  width: 100vw;
  object-fit: cover;
  z-index: -1;
}
body div .left {
  width: fit-content;
  font-size: 2.5rem;
}
body div .left h2 {
  color: white;
  padding: 0.5rem;
  text-shadow: 2px 2px 2px #000000;
}
body div .left h2 a {
  font-size: 1.5rem;
}

body div .left h2 a button i {
  font-size: 2.5rem;
}
body div .left h2 a button i:hover {
  color: green;
}
body div .right {
  padding: 0.5rem;
  position: absolute;
  left: 75%;
  bottom: 60%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body div .right i {
  margin-left: 0.5rem;
}
body .button {
  line-height: 1;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 0.75rem;
  background-color: #1774ff;
  color: #fff;
  border-radius: 10rem;
  font-weight: 600;
  padding: 0.75rem 1.5rem;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.3s;
  position: absolute;
  right: 2%;
  top: 40%;
  transform: translateY(-50%);
}
body .button:hover {
  background-color: #63ccfd;
}
body .button:hover .button__icon-wrapper {
  color: #000;
}
body .button:hover .button__icon-svg:first-child {
  transition: transform 0.3s ease-in-out;
  transform: translate(150%, -150%);
}
body .button:hover .button__icon-svg--copy {
  transition: transform 0.3s ease-in-out 0.1s;
  transform: translate(0);
}
body .button .button__icon-wrapper {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  position: relative;
  color: var(--clr);
  background-color: #fff;
  border-radius: 50%;
  display: grid;
  place-items: center;
  overflow: hidden;
}
body .button .button__icon-svg--copy {
  position: absolute;
  transform: translate(-150%, 150%);
}
body .cssbuttons-io-button {
  background: #334eff;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #1774ff;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}
body .cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #0b54ff;
  right: 0.3em;
  transition: all 0.3s;
}
body .cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #315bff;
}
body .cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}
body .cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}
body .cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}
body .left {
  width: fit-content;
  font-size: 2.5rem;
}
body .left h2 {
  color: white;
  padding: 0.5rem;
  text-shadow: 1px 1px 2px #fff;
}
body .daytraden-block {
  width: 60%;
  margin: 0 auto;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  margin-top: 40px;
  text-align: center;
  top: 50%;
  left: 19%;
  position: absolute;
}
.banner{
  padding-top: 5rem;
  width: 100%;
}
.banner-img{
  width: 100%;
  height: 75vh;
  overflow: hidden;
}
main{
  margin-bottom: 12%;
}
/*# sourceMappingURL=style.css.map */
